/* header */
header {
    background-image: url(https://ssl.gstatic.com/support/content/images/static/banners/youtube.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    height: 19.0625rem;
    margin-top: 1.5rem;
}

main.container {
    max-width: 600px;
}

.accordion-item .show {
    background: #e8f0fe;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
}
